# Telegram
TELEGRAM_TOKEN=
ALLOWED_GROUP_ID=
THREAD_ID=1
TIMEZONE=Europe/Minsk
CONNECTION_MODE=polling

# Database
POSTGRES_DB=ifly_time_bot
POSTGRES_USER=ifly_user
POSTGRES_PASSWORD=ifly_pass
DATABASE_URL=postgresql+psycopg2://ifly_user:ifly_pass@db:5432/ifly_time_bot

# Webhook (optional)
WEBHOOK_URL=
PORT=8443

# Logging
LOG_LEVEL=INFO
